<div class="container-fluid animated fadeInUp">
  <div class="row">

    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header text-center"><b class="h6">TOTAL NUMBER OF STUDENTS</b></div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nih
          l expedita aut ad labore unde ipsam similique facilis, sed culpa obcaecati voluptatibus,<br>
          <b>This is the total number of students in your school</b><span class="ml-2 text-danger">{{ students }}</span>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center"><b class="h6">TOTAL NUMBER OF STAFFS</b></div>
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nih
            l expedita aut ad labore unde ipsam similique facilis, sed culpa obcaecati voluptatibus,<br>
            <b>This is the total number of Staffs in your school</b><span class="ml-2 text-danger">{{ teachers }}</span>
            </div>
          </div>
        </div>
   
    </div>    

   
</div>
