<div class="container-fluid mt-5">
    <h1 mat-dialog-title class="text-center">STUDENT PROFILE</h1>
    <div mat-dialog-content>
                <form [formGroup]="angForm">
        <input type="hidden"  formControlName="id" name="id"  placeholder="Ex. California">
    <div class="row">
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="firstname" name="firstname" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>
        
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="lastname" name="lastname" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input  formControlName="surname" name="surname" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>
        
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="email" name="email" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div> 

   </div> 

    <div class="row">
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="username" name="username" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>
        
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="address" name="address" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>

   </div> 

    <div class="row">
        <div class="col-md-6"> 
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="parentsno" name="parentsno" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>
        
        <div class="col-md-6">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Address 2</mat-label>
                <input formControlName="phone" name="phone" matInput placeholder="Ex. California">
            </mat-form-field>
        </p>
        </div>

    </div>

</form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-danger ml-5">Close</button>
  <button mat-button mat-dialog-close class="btn btn-success float-left">Save</button>

</div>

   
</div>